@media screen and (max-width:1370px) {
    .header{
        .container{
            .content{
                padding-right: 25rem;   
            }
        }
        
    }
}



@media screen and (max-width:1280px) {
    .header{
        .bg{
            img{
                height: 680px;
            }
        }
        height: 680px;
        .container{
            .content{
                padding-right: 25rem;   
            }
            .logo{
              margin-top: 10rem;
            }
            
        }
    }

    .news{
        height: 680px;
    }
   
}

@media screen and (max-width:1180px) {
   
    .main{
        .container{
            width: 70%;
        }
    }
    
   
}

@media screen and (max-width:1024px) {
    .header{
        .container{
            .content{
                padding-right: 15rem;   
            }
        } 
    }
}

@media screen and (max-width:996px) {
    .header{
        .container{
            .content{
                padding-right: 15rem;   
            }
        }
    }
    .main{
        .container{
            width: 100%;
            .Box{
                &__item{
                    padding: 3rem 0px;
                }
            }
       }
    }
}


@media screen and (max-width:767px) {
    .header{
        height: 500px;
        .container{
            text-align:center;
            padding: 15px 20px;
            .content{
                padding-right: 0; 
                p{
                    padding: 0px 4rem;
                }  
                .btn__node{
                    justify-content: center;
                    p{
                        padding: 0;
                    }
                }
            }
            .logo{
                margin-top: 5rem;
            }
        }
        
    }

    .news{
        height: 600px;
        .container{
            padding: 15px 20px;
            .NewMain{
                display: flex;
                justify-content: space-between;
                gap: 1rem;
                flex-wrap: wrap;
                .New__left{
                    width: 100%;
                    .NewMain__content{
                        margin-top: 2rem;
                        &--date{
                            display: flex;
                            gap: 10px;
                        }
                        h6{
                            margin: 1rem 0px;
                            font-size: 1.3rem;
                        }
                    }
                }
                .New__right{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    &--item{
                        width: 100%;
                        display: flex;
                        gap: 1rem;
                        margin-bottom: 1rem;
                        .NewMain__img{
                            width: 48%;
                            img{
                                width: 100%;
                            }
                        }
                        .NewMain__content{
                            width: 48%;
                            &--date{
                                display: flex;
                                gap: 10px;
                            }
                            h6{
                                margin: 1rem 0px;
                                font-size: 1rem;
                                font-weight: bold;
                            }
                        }
                    }
                    p{
                        color: var(--text);
                    }
                    
                }
            }
        }
    }
}


@media screen and (max-width:532px) {
    .header{
        height: 500px;
        .container{
            text-align:center;
            padding: 15px 20px;
            .content{
                padding-right: 0; 
                p{
                    padding: 0px 2rem;
                }  
                .btn__node{
                    justify-content: center;
                    p{
                        padding: 0;
                    }
                }
            }
            .logo{
                margin-top: 2rem;
            }
        }
        
    }
}


@media screen and (max-width:414px) {

    .header{
        .container{
            .content{
                padding-right: 0; 
                p{
                    padding: 0px 1rem;
                }  
        }
    }
}

    .main{
        height: 1250px;
        .container{
            padding: 15px 20px;
            width: 100%;
            text-align: center;
            .Box{
                margin-top: 2rem;
                justify-content: space-around;
                &__item{
                    width: 100%;
                    padding: 3rem 0px;
                }
            }
       }
    }
}

@media screen and (max-width:378px) {
    .header{
        height: 390px;
        .container{
            .logo{
                padding-top: 1rem;
                margin: 0;
            }
            .content{
                h1{font-size: 1.5rem;}
                .btn{
                    margin: 0;
                    &__node{
                        padding: 0px 5rem;
                        flex-wrap: wrap;
                        width: 100%;
                        justify-content: center;
                        gap: 0;
                        button{
                            padding: 1rem 0px;
                            width: 100%;
                        }
                    }
                }
            }
            
        }

    }

}


@media screen and (max-width:345px  ) {
    .header{
        .container{
            .logo{
                margin: 0;
            }
            .content{
                .btn{
                    &__node{
                        padding: 0px 4rem;
                        flex-wrap: wrap;
                        width: 100%;
                        justify-content: center;
                        gap: 0;
                        button{
                            padding: 1rem 0px;
                            width: 100%;
                        }
                    }
                }
            }
            
        }

    }
}


@media screen and (max-width:337px) {
    .header{
        .container{
            .logo{
                padding: 0;
                margin-top: -1rem   ;
            }
            .content{
                h1{font-size: 1.3rem;}
                p{
                    font-size: 1rem;
                }
                .btn{
                    &__node{
                        padding: 0px 4rem;
                        flex-wrap: wrap;
                        width: 100%;
                        justify-content: center;
                        gap: 0;
                        button{
                            padding: 1rem 0px;
                            width: 100%;
                        }
                    }
                }
            }
            
        }

    }
}

@media screen and (max-width:337px) {
   
    .main{
        height: 1300px;
    }
}